{{ header }}
<div id="account-password" class="container container-lg">
  <div class="breadcrumbs">
    {% for breadcrumb in breadcrumbs %}
      {% if loop.last == loop.index %}
        <span>{{ breadcrumb.text }}</span>
      {% else %}
        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a> >
      {% endif %}
    {% endfor %}
  </div>
  {{ content_top }}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="contentArea {{ class }}">
      <h1 class="h2">{{ heading_title }}</h1>
      <form action="{{ action }}" method="post" enctype="multipart/form-data">
        <h4 class="h4">{{ text_password }}</h4>
        <div class="form-group form-group-2 required {% if error_password %}has-error{% endif %}">
          <input type="password" name="password" value="{{ password }}" id="input-password" />
          <label for="input-password" data-label="{{ entry_password }}" data-error="{% if error_password %}{{ error_password }}{% endif %}">{{ entry_password }}</label>
        </div>
        <div class="form-group form-group-2 required {% if error_confirm %}has-error{% endif %}">
          <input type="password" name="confirm" value="{{ confirm }}" id="input-confirm" />
          <label for="input-confirm" data-label="{{ entry_confirm }}" data-error="{% if error_confirm %}{{ error_confirm }}{% endif %}">{{ entry_confirm }}</label>
        </div>
        <div class="buttons clearfix">
          <div class="pull-left"><a href="{{ back }}" class="btn btn-grey-o-red">{{ button_back }}</a></div>
          <div class="pull-right">
            <input type="submit" value="{{ button_continue }}" class="btn btn-blue" />
          </div>
        </div>
      </form>
      </div>
    {{ column_right }}</div>
</div>
{{ content_bottom }}
{{ footer }}