{{ header }}
{{ content_top }}
{% set notInStock = 0 %}
{% for product in products %}
  {% if not product.stock %}
    {% set notInStock = 1 %}
  {% endif %}
{% endfor %}
<section class="order">
  <div class="container container-lg" id="checkout-cart">
  <!-- {% if attention %}
  <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %} -->
    <form class="order_wrap" action="{{ action }}" method="post" enctype="multipart/form-data">
      <div class="order_l">
        <div class="order_panel">
          <div class="order_panel_t">
            <a href="{{ cart }}" class="h1 active">{{ heading_title_cart }}</a>
            <a href="{{ checkout }}" class="h1">{{ text_ship }}</a>
            <a href="{{ checkout }}" class="h1">{{ text_payment_title }}</a>
          </div>
          <div class="order_list">
            {% for product in products %}
              {% if product.stock %}
              <div class="order_item">
                <div class="order_item_remove">
                  <a href="#" onclick="cart.remove('{{ product.cart_id }}');"><img src="catalog/view/theme/opencartSamopekTheme/img/close.svg" alt=""></a>
                </div>
                <div class="order_item_img">
                  {% if product.thumb %}
                    <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a>
                  {% endif %}
                </div>
                <div class="order_item_info">
                  <span>{{ text_model }} {{ product.model }}</span>
                  <h6 class="h6"><a href="{{ product.href }}">{{ product.name }}</a></h6>
                  <p>
                    {% for attribute in product.attributes %}
                      — {{ attribute }}<br>
                    {% endfor %}
                  </p>
                  {% if product.option %}
                  {% for option in product.option %} <br />
                  <small>{{ option.name }}: {{ option.value }}</small> {% endfor %}
                  {% endif %}
                  {% if product.reward %} <br />
                  <small>{{ product.reward }}</small> {% endif %}
                  {% if product.recurring %} <br />
                  <span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small> {% endif %}
                </div>
                <div class="order_item_quantity">
                  {% if product.quantity_fact == product.quantity %}<span class="text-red">{{ text_max }}</span>{% endif %}
                  <div class="quantityInput">
                    <a href="#" class="quantity_more_less_btn_minus_cart quantityInput_minus">-</a>
                    <input type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" data-max="{{ product.quantity_fact }}" data-product="{{ product.cart_id }}" size="2" id="input-quantity{{ product.cart_id }}" class="input-quantity input-quantity-cart" />
                    <a href="#" class="quantity_more_less_btn_plus_cart quantityInput_plus">+</a>
                  </div>
                </div>
                <div class="order_item_total">
                  <span>{{ product.total }}</span>
                </div>
                <div class="order_item_price">
                  <span>{{ product.price }}</span>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        {% if voucher %}
          <div class="order_coupon actived">
            <div class="order_coupon_third">
              <a href="{{ voucher.remove }}"><img src="catalog/view/theme/opencartSamopekTheme/img/close.svg" alt="">{{ text_voucher_added }}</a>
            </div>
          </div>
        {% else %}
          {% if modules %}
            {% for module in modules %}
              {{ module }}
            {% endfor %}
          {% endif %}          
        {% endif %}        
        {% if notInStock == 1 %}
          <div class="order_panel">
            <div class="order_panel_desc">
              <h4 class="h4">{{ text_notInStock }}</h4>
              <p>{{ text_notInStock_info }}</p>
            </div>
            <div class="order_list">
            {% for product in products %}
              {% if not product.stock %}
              <div class="order_item">
                <div class="order_item_remove">
                  <a href="#" onclick="cart.remove('{{ product.cart_id }}');"><img src="catalog/view/theme/opencartSamopekTheme/img/close.svg" alt=""></a>
                </div>
                <div class="order_item_img">
                  {% if product.thumb %}
                    <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a>
                  {% endif %}
                </div>
                <div class="order_item_info">
                  <span>{{ text_model }} {{ product.model }}</span>
                  <h6 class="h6"><a href="{{ product.href }}">{{ product.name }}</a></h6>
                  <p>
                    {% for attribute in product.attributes %}
                      — {{ attribute }}<br>
                    {% endfor %}
                  </p>
                  {% if product.option %}
                  {% for option in product.option %} <br />
                  <small>{{ option.name }}: {{ option.value }}</small> {% endfor %}
                  {% endif %}
                  {% if product.reward %} <br />
                  <small>{{ product.reward }}</small> {% endif %}
                  {% if product.recurring %} <br />
                  <span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small> {% endif %}
                </div>
                <div class="order_item_quantity">
                  <div class="quantityInput">
                    <a href="#" class="quantity_more_less_btn_minus_cart quantityInput_minus">-</a>
                    <input type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" data-max="{{ product.quantity_fact }}" data-product="{{ product.cart_id }}" size="2" id="input-quantity{{ product.cart_id }}" class="input-quantity" />
                    <a href="#" class="quantity_more_less_btn_plus_cart quantityInput_plus">+</a>
                  </div>
                </div>
                <div class="order_item_total">
                  <span>{{ product.total }}</span>
                </div>
                <div class="order_item_price">
                  <span>{{ product.price }}</span>
                </div>
              </div>
              {% endif %}
            {% endfor %}
            </div>
          </div>
        {% endif %}
        <div class="text-right d-lg-none d-block">
          <a href="{{ checkout }}" class="order_r_continue btn btn-blue btn-sq mt-0 {% if notInStock == 1 %}disabled{% endif %}">{{ text_continue }}</a>
        </div>
      </div>
      <div class="order_r">
        <a href="{{ continue }}" class="order_r_back">{{ text_return_buy }}</a>
        <div>
	        {% if notInStock == 1 %}
	          <p class="text-red order_r_stock">
	            {{ error_stock }}
	          </p>
	        {% endif %}
	        {% if notInStock == 0 %}
	          <p class="order_r_stock">
	            {{ text_all_products_in_stock }}
	          </p>
	        {% endif %}
	        {% if weight %}
	          <b class="order_r_weight">{{ weight }}</b>
	        {% endif %}
        </div>
        <br>
        <div>
          {% for one in totals %}
          <p class="order_r_total_desc">{{ one.title }}</p>
       	  <strong class="order_r_total">{{ one.text }}</strong>
          {% endfor %}
        </div>
        <a href="{{ checkout }}" class="order_r_continue btn btn-blue btn-sq {% if notInStock == 1 %}disabled{% endif %}">{{ text_continue }}</a>
      </div>
    </form>
  </div>
</section>

{{ footer }} 