{{ header }}
{% set notInStock = 0 %}
{% for product in products %}
  {% if not product.stock %}
    {% set notInStock = 1 %}
  {% endif %}
{% endfor %}
<div id="checkout-checkout" class="container container-lg">
    {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    {{ content_top }}
    <div class="order_wrap">
        <div class="order_l">
        	<div class="order_panel">
        		<div class="order_panel_t">
		            <a href="{{ cart }}" class="h1">{{ text_checkout_cart }}</a>
		            <a href="{{ checkout }}" class="h1 {% if not payment %}active{% endif %}">{{ text_shipping_title }}</a>
		            <a href="{{ payment_url }}" class="h1 {% if payment %}active{% else %}sendShipping{% endif %}">{{ text_payment_title }}</a>
	         	</div>
	        	<div class="orderStep">
	        		
	        	</div>
        	</div>
            {% if not payment %}
                <div class="text-right d-lg-none d-block">
                    <a href="{{ checkout }}" class="order_r_continue btn btn-blue btn-sq {% if notInStock == 1 %}disabled{% endif %}">{{ text_continue }}</a>
                </div>
            {% endif %}
        </div>
        <div class="order_r">
        	<a href="{{ continue }}" class="order_r_back">{{ text_return_buy }}</a>
	        <div>
		        {% if notInStock == 1 %}
		          <p class="text-red order_r_stock">
		            {{ error_stock }}
		          </p>
		        {% endif %}
		        {% if notInStock == 0 %}
		          <p class="order_r_stock">
		            {{ text_all_products_in_stock }}
		          </p>
		        {% endif %}
		        {% if weight %}
		          <b class="order_r_weight">{{ weight }}</b>
		        {% endif %}
	        </div>
	        <br>
	        <div>
	          {% for one in totals %}
	          <p class="order_r_total_desc">{{ one.title }}</p>
	       	  <strong class="order_r_total">{{ one.text }}</strong>
	          {% endfor %}
	        </div>
            {% if not payment %}
	           <a href="{{ checkout }}" class="order_r_continue btn btn-blue btn-sq {% if notInStock == 1 %}disabled{% endif %}">{{ text_continue }}</a>
            {% endif %}
        </div>
    </div>
</div>
{{ content_bottom }}
<script type="text/javascript"><!--

    {% if not payment %}
    $(document).ready(function () {
        $.ajax({
            url: 'index.php?route=checkout/shipping_method',
            dataType: 'html',
            success: function (html) {
                $('.orderStep').html(html);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
    {% else %}
    $(document).ready(function () {
        $.ajax({
            url: 'index.php?route=checkout/payment_method',
            dataType: 'html',
            success: function (html) {
                $('.orderStep').html(html);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
    {% endif %}

    //--></script>
{{ footer }}