<div class="row">
  <div class="col-sm-5">
    <h2>{{ text_already_registered }}</h2>
    <div class="form-group">
      <input type="text" name="email" value="" placeholder="{{ text_email_placeholder }}" id="input-email" class="form-control" />
    </div>
    <div class="form-group">
      <input type="password" name="password" value="" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
      <a href="{{ forgotten }}">{{ text_forgotten }}</a>
    </div>
    <input type="button" value="{{ button_login }}" id="button-login" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
  <div class="col-sm-5">
    <h2>{{ text_quick_registration }}</h2>
    <div class="form-group">
      <input type="text" name="email" value="" placeholder="{{ text_email_placeholder }}" id="input-email-register" class="form-control" />
    </div>
    <div class="form-group">
      <input type="text" name="firstname" value="" placeholder="{{ entry_firstname }}" id="input-name-register" class="form-control" />
      <a href="" style="visibility: hidden">fake row</a>
    </div>
    <input type="button" value="{{ button_continue }}" id="button-register" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
  {{ captcha }}
</div>
