{% if error_warning %}
<div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}

<div class="order_panel_payment">
  {% if payment_methods %}
    {% for payment_method in payment_methods %}
      <a href="#" class="btn h3 btn-sq selectPayment {% if payment_method.code == 'cod' %}btn-black-o{% else %}btn-yellow{% endif %}" data-code="{{ payment_method.code }}">{{ payment_method.title }}</a>
    {% endfor %}
  {% endif %}
</div>
<div class="order_end"></div>
<div class="order_payment">
  <table>
    <tr>
      <th>{{ text_payment_model }}</th>
      <th>{{ text_payment_name }}</th>
      <th class="text-right">{{ text_payment_qty }}</th>
      <th class="text-center">{{ text_payment_price }}</th>
    </tr>
    {% for one in products %}
    <tr>
      <td>{{ one.model }}</td>
      <td>
        <strong class="h4">{{ one.name }}</strong>
        <p>
          {% for at in one.attributes %}
            {{ at.name }}: <span class="text-blue">{{ at.text }}</span><br>
          {% endfor %}
        </p>
      </td>
      <td class="text-right">{{ one.quantity }} {{ text_payment_qty_one }}</td>
      <td class="text-center">{{ one.total }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $(document).on('click', '.selectPayment', function(e) {
      e.preventDefault();      
      var code = $(this).data('code');
      $.ajax({
        url: '/index.php?route=checkout/payment_method/save',
        data: {payment_method: code},
        datType: 'json',
        method: 'POST',
        success: function(json) {
          if (json.redirect) {
            window.location = json.redirect;
          }

          if (json.error) {
            $(document).find('.alert-warning').remove();
            $('#checkout-checkout').prepend('<div class="alert alert-warning alert-dismissible">' + json.error.warning + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
          } else {
            $.ajax({
                url: 'index.php?route=checkout/confirm',
                dataType: 'html',
                success: function (html) {
                    $('.order_end').html(html);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
          }
        }
      });
    });

  });
</script>