<footer class="f">
  <div class="container">
    <div class="f_t">
      <h2 class="h2">{{ text_title }}</h2>
      <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/samopek.shop/" title="Samopek instagram">
        <img src="catalog/view/theme/opencartSamopekTheme/img/insta_white.svg" alt="">
      </a>
      <a target="_blank" rel="noopener noreferrer" href="https://vk.com/samopek.shop" title="Samopek vkontakte">
        <img src="catalog/view/theme/opencartSamopekTheme/img/vk_white.svg" alt="">
      </a>
    </div>
    <nav class="f_b">
      {% if informations %}
        <nav>
          {% for information in informations %}
            <a href="{{ information.href }}">{{ information.title }}</a>
          {% endfor %}
        </nav>
      {% endif %}
      <nav>
        <a href="{{ contact }}">{{ text_contact }}</a>
        <a href="{{ return }}">{{ text_return }}</a>
        <a href="{{ sitemap }}">{{ text_sitemap }}</a>
      </nav>
      <nav>
        <a href="{{ manufacturer }}">{{ text_manufacturer }}</a>
        <a href="{{ voucher }}">{{ text_voucher }}</a>
        <a href="{{ special }}">{{ text_special }}</a>
      </nav>
      <nav>
        <a href="{{ account }}">{{ text_account }}</a>
        <a href="{{ order }}">{{ text_order }}</a>
        <a href="{{ wishlist }}">{{ text_wishlist }}</a>
        <a href="{{ newsletter }}">{{ text_newsletter }}</a>
      </nav>
      <div class="f_b_r">
        <p>{{ text_payment }}</p>
        <div class="f_pay">
          <img src="catalog/view/theme/opencartSamopekTheme/img/footer_pay1.png" alt="">
          <img src="catalog/view/theme/opencartSamopekTheme/img/footer_pay2.png" alt="">
          <img src="catalog/view/theme/opencartSamopekTheme/img/footer_pay3.png" alt="">
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="modal" tabindex="-1" role="dialog" id="wishlistModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>

{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>