<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <base href="{{ base }}"/>
    {% if description %}
        <meta name="description" content="{{ description }}"/>
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}"/>
    {% endif %}
    <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css"/>
    <link href="//fonts.googleapis.com/css?family=Fira+Sans:400,900" rel="stylesheet" type="text/css"/>
    <link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
    <link href="catalog/view/theme/opencartSamopekTheme/stylesheet/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    {% for style in styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
    {% endfor %}
    {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}
    <script src="catalog/view/theme/opencartSamopekTheme/javascript/common.js" type="text/javascript"></script>
    {% for link in links %}
        <link href="{{ link.href }}" rel="{{ link.rel }}"/>
    {% endfor %}
    {% for analytic in analytics %}
        {{ analytic }}
    {% endfor %}
</head>
<body>
<header>
    {% if home_page %}
        <div class="container">
            {% if home_page %}
                <div class="row" style="padding-top: 1%; padding-left: 17px;">
                    <div id="banner_cupcakes" class="col-3">
                        {% if logo %}
                            <a href="{{ home }}">
                                <div class="row">
                                    <div class="col" style="padding-left: 0; padding-right: 0">
                                        <img src="catalog/view/theme/opencartSamopekTheme/image/logo.svg">
                                    </div>
                                    <div class="col-10 font-header-1 color-blue">
                                        {{ text_tagline }}
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-6">
                        {{ search }}
                    </div>
                    <div class="col-2 offset-lg-1" style="padding-left: 5px; padding-right: 5px;">
                        <div class="row">
                            <div class="col" style="padding-left: 5px; padding-right: 5px;text-align: center">
                                <a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}">
                                    <img src="catalog/view/theme/opencartSamopekTheme/image/favorite.svg">
                                </a>
                            </div>
                            <div class="col" style="padding-left: 5px; padding-right: 5px;text-align: center">
                                <a href="{{ shopping_cart }}" id="cart-header" title="{{ shopping_cart_total }}">
                                    <img src="catalog/view/theme/opencartSamopekTheme/image/cart.svg">
                                </a>
                                <img src="catalog/view/theme/opencartSamopekTheme/image/delimiter.svg"
                                     style="padding-left: 5px;">
                            </div>
                            <div class="col" style="padding-left: 5px; padding-right: 5px;">
                                <a href="{{ account }}" title="{{ text_account }}" data-toggle="dropdown">
                                    <span class="d-none d-lg-block d-xl-block font-text-1 color-black">{{ text_account_part_1 }}<br> {{ text_account_part_2 }}</span>
                                    <i class="fa fa-user d-none d-md-block d-lg-none"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    {% if logged %}
                                        <li><a href="{{ account }}">{{ text_account }}</a></li>
                                        <li><a href="{{ order }}">{{ text_order }}</a></li>
                                        <!-- ToDo: Remove from controller
                            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
                            <li><a href="{{ download }}">{{ text_download }}</a></li>-->
                                        <li><a href="{{ logout }}">{{ text_logout }}</a></li>
                                    {% else %}
                                        <li><a href="{{ register }}">{{ text_register }}</a></li>
                                        <li><a href="{{ login }}">{{ text_login }}</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="row">
            <div id="banner_logo" class="col-md-12 d-none d-sm-block d-md-block">
                <a href="{{ home }}">
                    <img src="catalog/view/theme/opencartSamopekTheme/image/logo_footer_white.png" alt="image">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 no-float"> {{ menu }}</div>
            <!--<div class="col-sm-3">{{ cart }}</div>-->
        </div>
        <div class="row row_search_main">
            <div class="col-lg-6 offset-lg-3 d-none d-sm-block d-md-block"> {{ search }}</div>
        </div>
    {% endif %}
</header>
<nav id="top">
    <div class="container"><!--{{ currency }}
    {{ language }}-->
        <div id="top-links" class="nav pull-right">
            <ul class="font-text-2 color-black">
                <li>
                    <img src="catalog/view/theme/opencartSamopekTheme/image/nav_icon.svg">
                    <span class="d-none d-lg-block d-xl-block">{{ text_city }}</span>
                    <i class="fa fa-phone d-none d-md-block d-lg-none"></i>
                </li>

                <li>
                    <a href="{{ delivery }}" id="shipping" title="{{ text_shipping_payment }}">
                        <span class="d-none d-lg-block d-xl-block">{{ text_shipping_payment }}</span>
                        <i class="fa fa-truck d-none d-md-block d-lg-none"></i>
                    </a>
                </li>

                <li>
                    <a href="{{ contact }}" id="contact" title="{{ text_contacts }}">
                        <span class="d-none d-lg-block d-xl-block">{{ text_contacts }}</span>
                        <i class="fa fa-info d-none d-md-block d-lg-none"></i>
                    </a>
                </li>

                <li>
                    <a href="{{ wishlist }}" id="wishlist-total" title="{{ text_contact_phone_number }}">
                        <span class="d-none d-lg-block d-xl-block">{{ text_contact_phone_number }}</span>
                        <i class="fa fa-heart d-none d-md-block d-lg-none"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row row_menu_main">
     {{ menu }}
</div>
{{ product_preview }}
