<!--<h3>{{ heading_title }}</h3>-->
<div class="row">
 {% for product in products %}
  <div class="product-layout col-lg-5ths col-md-5ths col-sm-6 col-xs-12">
    <div class="product-thumb transition product-thumb-featured">
      <div class="row featured_buttons_group_fav_preview">
        <!-- Preview in development -->
        <!--<button class="fav_preview_buttons" onclick="window.location.href='/page2'">
          <img src="catalog/view/theme/opencartSamopekTheme/image/preview.svg">
        </button>-->
        <button id="samopek_button" onclick="wishlist.add('{{ product.product_id }}');">
          <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.57398 2.39614L7.99992 3.08916L8.42591 2.39616C9.09964 1.30014 10.3031 0.570057 11.6792 0.570057C13.7894 0.570057 15.5 2.28062 15.5 4.39077C15.5 5.53858 14.992 6.56581 14.1882 7.26704L14.1753 7.27824L14.1633 7.29029L8.04068 13.4131C8.0299 13.4239 8.01527 13.43 7.99995 13.43C7.98464 13.43 7.97001 13.4239 7.95923 13.4131C7.95922 13.4131 7.95922 13.4131 7.95922 13.4131L1.83663 7.29029L1.82459 7.27824L1.81175 7.26705C1.00791 6.56582 0.5 5.5386 0.5 4.39077C0.5 2.28054 2.21017 0.570057 4.32026 0.570057C5.69641 0.570057 6.90039 1.30021 7.57398 2.39614Z" stroke="#E6E6E6"/>
          </svg>
        </button>
      </div>
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
      <div class="button-group">
        {% if product.quantity <= 0 %}
          <button type="button" disabled="disabled" style="background: #FFC341;">{{ text_not_in_stock }}</button>
        {% else %}
          <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart hidden-lg hidden-md"></i> <span class="hidden-xs hidden-sm">{{ button_cart }}</span></button>
        {% endif %}
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');" class="hidden-lg hidden-md"><i class="fa fa-heart"></i></button>
      </div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <!-- <p>{{ product.description }}</p> -->
        Остаток {{product.quantity}}
        {% if product.rating %}
        <div class="rating">
          {% for i in 5 %}
          {% if product.rating < i %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% else %}
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="quantity_price_row">
        <div class="quantity_ind">
          {% for i in 1..4 %}
            <svg width="12" height="12" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              {% if product.quantity != 0 %}
                {%  if product.quantity / 10 >= (i-1) %}
                  <circle cx="4" cy="4" r="4" fill="#3AC2D7"/>
                {% else %}
                  <circle cx="4" cy="4" r="4" fill="#E7E7E7"/>
                {% endif %}
              {% else %}
                <circle cx="4" cy="4" r="4" fill="#E7E7E7"/>
              {% endif %}
            </svg>
          {% endfor %}
        </div>
      {% if product.price %}
        <div class="price">
          {% if not product.special %}
            {{ product.price }}
          {% else %}
            <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
          {% endif %}
          <!--{% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %}-->
        </div>
      {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
